.sidebaritem:hover{
    background-color: #008DDA;
    border-radius: 5px;
    
    
}
.smallsidebar .sidebaritem:hover{
    background-color: #76ABAE;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    
}
.sidebar{
    background-color: #41C9E2;
}